.blog {
  padding-top: 40px;

  &__img {
    vertical-align: top;
  }

  &__wrapper {
    margin-top: 18px;
    display: flex;
  }

  &__item {
    margin-bottom: 50px;
  }

  &__date {
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #545454;
    margin-right: auto;
  }

  &__like,
  &__comment {
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #545454;
  }

  &__like {
    margin-right: 15px;
  }

  &__title {
    margin: 0;
    font-family: 'Roboto Condensed', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #101010;
  }

  &__text {
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #545454;
    margin-bottom: 10px;
  }

  &__category {
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #545454;
  }

  &__link {
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #101010;
  }
}
