.catalog {
  padding-top: 40px;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__filter {
    order: 2;
  }

  &__goods {
    order: 1;
  }

  &__sort {
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #101010;
    text-align: center;
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    box-sizing: border-box !important;
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 22px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 40px;
    border: 1px solid #dbdbdb;
    color: #a0a0a0;

    & option {
      color: #a0a0a0;
    }
  }

  &__pagination {
    margin-top: 20px;
  }

  &__items {
    display: flex;
  }

  &__item {
    margin-right: 5px;
  }

  &__link {
    display: block;
    color: #545454;
    border: 1px solid #dbdbdb;
    line-height: 36px;
    font-size: 13px;
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    width: 36px;
    height: 36px;
    text-align: center;
    box-sizing: border-box;

    &--active {
      color: #fa5400;
    }

    &:hover {
      color: #fa5400;
    }
  }

  &__search {
    position: relative;
  }

  &__button {
    position: absolute;
  }
}
