.featured {
  &--margin {
    margin-bottom: 40px;
  }

  &__slider {
    margin-top: 40px;
  }

  &__img {
    width: 100%;

    object-fit: cover;
  }

  &__title {
    position: relative;

    margin: 0;

    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    text-align: center;
    color: #101010;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;

      width: 30px;
      height: 3px;

      background-color: #ff4301;
      transform: translateX(-50%) translateY(200%);
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    box-sizing: border-box;
    min-height: 390px;
    padding: 12px !important;

    border: 1px solid transparent;

    transition: all 0.5s;

    &:hover {
      border-color: lightgray;

      transition: all 0.5s;
    }
  }

  &__link {
    display: block;
  }

  &__buttons {
    position: relative;

    overflow: hidden;

    &:hover .featured__button {
      bottom: 0;

      transition: bottom 0.5s, background-color 0.5s;
    }
  }

  &__img {
    vertical-align: top;
  }

  &__button {
    position: absolute;
    bottom: -40px;

    display: block;
    width: 100%;
    padding: 10px 0;

    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #a0a0a0;
    border: none;

    transition: bottom 0.5s, background-color 0.5s;

    &:hover {
      background-color: #000000;

      transition: all 0.5s;
    }
  }

  &__name {
    display: block;
    margin-top: 12px;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    color: #101010;
    text-transform: uppercase;

    transition: all 0.5s;

    &:hover {
      color: #ff4301;

      transition: all 0.5s;
    }
  }

  &__categories {
    color: #545454;
  }

  &__category {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #545454;

    transition: all 0.5s;

    &:hover {
      color: #ff4301;

      transition: all 0.5s;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__star {
    height: 20px;
  }

  &__row {
    display: none;
  }

  &__price {
    margin-top: 5px;

    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #101010;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
  }

  &__control {
    width: 8px;
    height: 8px;
    margin-right: 10px;

    background-color: rgb(84, 84, 84);
    border-radius: 50%;
    opacity: 0.5;

    transition: all 0.5s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;

      transition: all 0.5s;
    }
  }

  &__icon {
    transition: fill 0.3s ease-in-out;

    &:hover {
      transition: fill 0.3s ease-in-out;

      fill: #f34c05;
    }

    &--star {
      fill: gold;
      stroke: gold;

      &:hover {
        fill: gold;
      }
    }

    &--stroke {
      fill: #ffffff;
      stroke: gold;

      &:hover {
        fill: #ffffff;
      }
    }
  }

  @media @screen-xs {
    &__slider {
      &--flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &__item {
      min-height: auto;

      &--maxwidth {
        max-width: 220px;
      }
    }
  }

  @media @screen-sm {
    &__item {
      &--maxwidth {
        max-width: 280px;
      }
    }

    &__items {
      justify-content: space-between;
    }
  }

  @media @screen-md {
    &__item {
      &--catalog {
        max-width: 200px;
      }
    }

    &__controls {
      opacity: 0;
    }
  }

  @media @screen-lg {
    &__item {
      &--maxwidth {
        margin-bottom: 30px;
      }

      &--catalog {
        max-width: 33%;
      }

      &:hover .featured__row {
        visibility: visible;
      }
    }

    &__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 12px;

      visibility: hidden;
    }

    &__colors {
      display: flex;
    }

    &__color {
      display: block;
      box-sizing: border-box;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      padding: 2px;

      background-color: #000000;
      border: 2px solid #6b6b6b;
      border-radius: 50%;
    }

    &__btn {
      margin-right: 5px;
      padding: 0;

      background-color: transparent;
      border: none;

      &:first-child {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
