.guide {


  &__title {
    font-size: 50px;
    color: #292929;
    line-height: 1em;
    margin: 100px 0;
    text-align: center;
    font-family: 'Roboto Condensed', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 700;
  }

  &__sizes {
    width: 100%;
    margin-bottom: 40px;
    border-collapse: collapse;
    border-spacing: 0;

    & td {
      width: 88px;
      height: 46px;
      font-size: 17px;
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
      text-align: center;
      color: #000;
      position: relative;
    }

    & thead td {
      background-color: #cfcfd0;
      border-color: #fff;
    }
  }

  &__text {
    display: block;
    background-color: #000;
    height: 23px;
    color: #fff;
    position: relative;
    font-size: 13px;
    line-height: 22px;
    border-bottom: 1px solid #fff;

    &--right {
      &::after {
        left: 100%;
        top: 11px;
        border: 0px solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-left-color: #000000;
        border-width: 4px;
        margin-top: -4px;
        z-index: 2;
      }
    }

    &--bottom {
      &::after {
        top: 100%;
        z-index: 2;
        left: 50%;
        border: 0px solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-top-color: #000000;
        border-width: 4px;
        margin-left: -4px;
      }
    }
  }


}
