.main-nav {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;

  &--closed {
    display: none;
    //visibility: hidden;
    //opacity: 0;
    //left: 0;
    //width: 100%;
    //transform: translateY(-2em);
    //z-index: 0;
    //transition: all 0.5s;
  }

  &--opened {
    display: block;
    //visibility: visible;
    //opacity: 1;
    //z-index: 1;
    //transform: translateY(3%);
    //transition-delay: 0s, 0s, 0.3s;
    //transition: all 0.5s;
  }

  &__sublist {
    &--closed {
      display: none;
    }

    &--opened {
      display: block;
    }
  }

  &__link {
    position: relative;

    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;

    font-weight: 700;
    font-size: 15px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    color: rgba(255,255,255,0.65);
    text-transform: uppercase;

    background-color: #191919;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    -webkit-transition: 0.25s ease-in-out;
       -moz-transition: 0.25s ease-in-out;
         -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;

    &:hover {
      color: rgba(255,255,255,1);
    }

    &--active {
      color: #ff4301;
    }
  }

  &__toggler {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 40px;
    height: 100%;
  }

  &__icon {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    fill: @color-text;
  }

  &__sublink {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;

    font-weight: 400;
    font-size: 13px;
    font-family: "Roboto", "Arial", sans-serif;
    color: rgba(255,255,255,0.65);

    background-color: #191919;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    -webkit-transition: 0.25s ease-in-out;
       -moz-transition: 0.25s ease-in-out;
         -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;

    &:hover {
      color: rgba(255,255,255,1);
    }
  }

  @media @screen-md {
    &--opened {
      //transform: translateY(2.5em);
    }
  }

  @media @screen-lg {
    &--closed {
      position: relative;
      left: auto;
      z-index: auto;

      display: block;
      order: 2;
      width: auto;
      min-width: 650px;

      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }

    &__list {
      display: flex;
    }

    &__item {
      &:hover .main-nav__sublist {
        position: absolute;
        z-index: 1;

        display: block;
        width: 200px;
      }

      &:hover .main-nav__link {
        color: #ff4301;
      }
    }

    &__link {
      padding-right: 20px;

      color: #191919;

      background-color: transparent;

      &:hover {
        color: #ff4301;
      }

      &--active {
        color: #ff4301;
      }
    }

    &__toggler {
      display: none;
    }

    &__sublist {
      &--closed {
        position: absolute;
        z-index: 0;

        display: none;
      }
    }

    &__sublink {
      padding-right: 15px;
      padding-left: 15px;

      &:last-child {
        border: none;
      }
    }
  }
}
