.main-nav {
  position: absolute;
  width: 100%;

  &--closed {
    visibility: hidden;
    opacity: 0;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: 0;
    transition: all 0.5s;
  }

  &--opened {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    transition: all 0.5s;
  }

  &__sublist {
   &--closed {
     display: none;
   }

    &--opened {
      display: block;
    }
  }

  &__link {
    display: block;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 15px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    color: rgba(255,255,255,0.65);
    text-transform: uppercase;
    background-color: #191919;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &:hover {
      color: rgba(255,255,255,1);
    }

    &--active {
      color: rgba(255,255,255,1);
    }
  }

  &__toggler {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 100%;
  }

  &__icon {
    fill: @color-text;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__sublink {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    font-size: 13px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    background-color: #191919;
    color: rgba(255,255,255,0.65);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:hover {
      color: rgba(255,255,255,1);
    }
  }

  @media @screen-md {
    &--opened {
      transform: translateY(2.5em);
    }
  }

  @media @screen-lg {
    &--closed {
      min-width: 650px;
      visibility: visible;
      opacity: 1;
      left: auto;
      width: auto;
      z-index: auto;
      position: relative;
      transform: translateY(0);
      order: 2;
    }

    &__list {
      display: flex;
    }

    &__item {
      &:hover .main-nav__sublist {
        min-width: 200px;
        opacity: 1;
        position: absolute;
        transition: all 0.5s ease-in-out;
        visibility: visible;
        z-index: 1;
        transition-delay: 0s, 0s, 0.3s;
      }

      &:hover .main-nav__link {
        color: #ff4301;
      }
    }

    &__link {
      padding-right: 20px;
      background-color: transparent;
      color: #191919;

      &:hover {
        color: #ff4301;
      }
    }

    &__toggler {
      display: none;
    }

    &__sublist {
      &--closed {
        min-width: 0;
        position: absolute;
        display: block;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        z-index: 0;
      }
    }

    &__sublink {
      padding-left: 15px;
      padding-right: 15px;

      &:last-child {
        border: none;
      }
    }
  }
}
