.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.5s ease-in-out;
  z-index: 100;
  background-color: #ffffff;

  &--fixed {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid rgb(219, 219, 219);
  }

  &__logo {
    text-align: center;
    margin-bottom: 20px;
  }

  &__link {
    display: block;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__toggler {
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    padding: 0;
    position: relative;
    margin-right: 15px;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:hover span {
      background-color: #ff4301;
    }

    & span {
      position: absolute;
      top: 0;
      display: block;
      width: 20px;
      height: 2px;
      background-color: #000000;
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 7px;
      }

      &:nth-child(3) {
        top: 14px;
      }
    }

    &--opened span {
      &:nth-child(1) {
        top: 7px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        background-color: #ff4301;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 7px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
        background-color: #ff4301;
      }
    }
  }

  &__search {
    display: block;
    box-sizing: border-box;
    margin-right: 15px;
  }

  &__cart {
    display: flex;
    position: relative;
    align-items: flex-end;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #ff4301;
    }
  }

  &__counter {
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-size: 12px;
  }

  &__icon {
    fill: #353535;
    transition: all 0.3s ease-in-out;

    &:hover {
      fill: #ff4301;
    }
  }

  @media @screen-xs {

    &__toggler,
    &__search,
    &__cart {
      margin-right: 20px;
    }
  }

  @media @screen-md {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    &__logo {
      margin-bottom: 0;
    }
  }

  @media @screen-lg {
    padding-top: 15px;
    padding-bottom: 15px;

    &--fixed {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &__buttons {
      order: 3;
    }

    &__toggler {
      display: none;
    }


  }
}
