.product {
  padding-top: 40px;

  &__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__img {
    max-width: 30%;

    &:last-child {
      margin-right: 0;
    }

    &--big {
      max-width: 100%;
      margin-bottom: 3%;
    }
  }

  &__title {
    font-family: 'Roboto Condensed', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 28px;
    line-height: 36px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #101010;
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    //margin-bottom: 10px;
  }

  &__icon {
    fill: #f34c05;
    margin-right: 10px;

    &--star {
      fill: gold;
      margin-right: 0;
    }
  }

  &__price {
    display: block;
    font-family: 'Roboto Condensed', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #545454;
    margin-bottom: 25px;
  }

  &__text {
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #545454;
    margin-bottom: 40px;
  }

  &__field {
    //display: flex;
    margin-bottom: 20px;
  }

  &__wrap {
    display: flex;
  }

  &__input {
    background-color: #ffffff;
    color: #a0a0a0;
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    padding: 11px 15px;
    box-sizing: border-box !important;
    width: 65px;
    max-width: 100%;
    border: 1px solid #dbdbdb;
    margin-right: 60px;
  }

  &__btn {
    display: block;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 14px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #101010;
    color: #ffffff;
    border: none;
    padding: 0 15px;
    transition: all 0.3s ease-in-out;


    &:hover {
      background-color: #f34c05;
      transition: all 0.3s ease-in-out;
    }
  }

  &__option {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }

  &__color {
    display: block;
    box-sizing: border-box;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #dbdbdb;

    &--black {
      background-color: #000000;
    }

    &--white {
      background-color: #ffffff;
    }

    &--active {
      border: 3px solid #545454;
    }
  }

  &__desc {
    display: block;
    width: 125px;
    text-align: left;
    font-family: 'Roboto Condensed', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #101010;
  }

  &__link {
    display: block;
    position: relative;
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #545454;
    padding-right: 10px;
    transition: all 0.3s ease-in-out;

    &::after {
      content: "/";
      position: absolute;
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
    }

    &--bold {
      font-family: 'Roboto Condensed', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0;

      &::after {
        display: none;
      }
    }

    &:hover {
      color: #f34c05;
      transition: all 0.3s ease-in-out;
    }
  }

  &__button {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #101010;
    transition: all 0.3s ease-in-out;
    margin-bottom: 30px;

    &:hover {
      color: #f34c05;
      transition: all 0.3s ease-in-out;
    }
  }

  &__items {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dbdbdb;
    margin-bottom: 50px;
  }

  &__tabs {
    margin-bottom: 100px;
  }

  &__tabslist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
  }

  &__tabitem {
    width: 100%;
    text-align: center;
  }

  &__tablink {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 18px 30px;
    font-family: 'Roboto Condensed', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #101010;
    border-bottom: 1px solid #dbdbdb;

    &.active {
      border-bottom: 2px solid #101010;
    }
  }

  &__description,
  &__feature {
    font-family: 'Roboto', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 22px;
    color: #545454;
  }

  &__caption {
    font-family: 'Roboto Condensed', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    color: #101010;
  }

  &__currency {
    margin-left: 10px;
  }


  @media @screen-sm {
    &__inner {
      display: flex;
      align-items: flex-start;
    }

    &__images {
      margin-right: 20px;
      max-width: 600px;
    }

    &__desc {
      flex-shrink: 0;

    }

    &__list {
      flex-wrap: wrap;
    }

    &__btn {
      flex-shrink: 0;
    }

    &__wrap {
      margin-top: 20px;
    }
  }

  @media @screen-md {
    &__images {
      margin-right: 30px;
    }

    &__items {
      justify-content: flex-start;
    }

    &__link {
      &--bold {
        margin-right: 10px;
      }
    }

    &__tabslist {
      flex-direction: row;
      align-items: flex-end;
    }

    &__button {
      margin-top: 15px;
    }
  }
}
