.product {
  padding-top: 40px;

  &__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__img {
    max-width: 30%;

    &:last-child {
      margin-right: 0;
    }

    &--big {
      max-width: 100%;
      margin-bottom: 3%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    font-family: "Roboto Condensed", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #101010;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    //margin-bottom: 10px;
  }

  &__icon {
    margin-right: 10px;

    fill: #f34c05;

    &--star {
      margin-right: 0;

      fill: gold;
    }
  }

  &__price {
    display: block;
    margin-bottom: 25px;

    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    font-family: "Roboto Condensed", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #545454;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 40px;

    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    font-family: "Roboto", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #545454;
  }

  &__field {
    //display: flex;
    margin-bottom: 20px;
  }

  &__wrap {
    display: flex;
  }

  &__input {
    box-sizing: border-box !important;
    width: 65px;
    max-width: 100%;
    margin-right: 60px;
    padding: 11px 15px;

    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    font-family: "Roboto", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #a0a0a0;

    background-color: #ffffff;
    border: 1px solid #dbdbdb;
  }

  &__btn {
    display: block;
    box-sizing: border-box;
    padding: 0 15px;

    font-weight: 700;
    font-size: 14px;
    line-height: 48px;
    font-family: "Roboto Condensed", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #101010;
    border: none;

    transition: all 0.3s ease-in-out;


    &:hover {
      background-color: #f34c05;

      transition: all 0.3s ease-in-out;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__color {
    display: block;
    box-sizing: border-box;
    width: 23px;
    height: 23px;
    margin-right: 10px;

    border: 1px solid #dbdbdb;
    border-radius: 50%;

    &--black {
      background-color: #000000;
    }

    &--white {
      background-color: #ffffff;
    }

    &--active {
      border: 3px solid #545454;
    }
  }

  &__desc {
    display: block;
    width: 125px;

    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    font-family: "Roboto Condensed", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    text-align: left;
    color: #101010;
    text-transform: uppercase;
  }

  &__link {
    position: relative;

    display: block;
    padding-right: 10px;

    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    font-family: "Roboto", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #545454;

    transition: all 0.3s ease-in-out;

    &::after {
      content: "/";
      position: absolute;
      top: 50%;
      right: 2px;

      transform: translateY(-50%);
    }

    &--bold {
      padding: 0;

      font-weight: 700;
      line-height: 20px;
      font-family: "Roboto Condensed", Arial, Helvetica, "Nimbus Sans L", sans-serif;
      text-transform: uppercase;

      &::after {
        display: none;
      }
    }

    &:hover {
      color: #f34c05;

      transition: all 0.3s ease-in-out;
    }
  }

  &__button {
    display: flex;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    font-family: "Roboto", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #101010;

    background-color: transparent;
    border: none;

    transition: all 0.3s ease-in-out;

    &:hover {
      color: #f34c05;

      transition: all 0.3s ease-in-out;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 20px;

    border-top: 1px solid #dbdbdb;
  }

  &__tabs {
    margin-bottom: 100px;
  }

  &__tabslist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }

  &__tabitem {
    width: 100%;

    text-align: center;
  }

  &__tablink {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 18px 30px;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto Condensed", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #101010;
    text-transform: uppercase;

    border-bottom: 2px solid #dbdbdb;

    &.active {
      border-bottom: 2px solid #101010;
    }
  }

  &__description,
  &__feature {
    font-size: 13px;
    line-height: 22px;
    font-family: "Roboto", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #545454;
  }

  &__caption {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    font-family: "Roboto Condensed", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #101010;
    text-transform: uppercase;
    font-style: normal;
  }

  &__currency {
    margin-left: 10px;
  }


  @media @screen-sm {
    &__inner {
      display: flex;
      align-items: flex-start;
    }

    &__images {
      max-width: 600px;
      margin-right: 20px;
    }

    &__desc {
      flex-shrink: 0;
    }

    &__list {
      flex-wrap: wrap;
    }

    &__btn {
      flex-shrink: 0;
    }

    &__wrap {
      margin-top: 20px;
    }
  }

  @media @screen-md {
    &__images {
      margin-right: 30px;
    }

    &__items {
      justify-content: flex-start;
    }

    &__link {
      &--bold {
        margin-right: 10px;
      }
    }

    &__tabslist {
      flex-direction: row;
      align-items: flex-end;
    }

    &__button {
      margin-top: 15px;
    }
  }
}
