.quotes {
  padding-bottom: 50px;
  background-color: #f8f8f8;

  &__slide {
    position: relative;
    padding-bottom: 30px;
  }

  &__quote {
    padding: 50px;
    padding-top: 150px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #101010;
    text-align: center;
  }

  &__author {
    display: block;
    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
    color: #101010;
  }

  &__controls {
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
  }

  &__control {
    width: 8px;
    height: 8px;
    background-color: rgb(84, 84, 84);
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.5s;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;
      transition: all 0.5s;
    }
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%) translateY(-50%);
    fill: #dbdbdb;
    opacity: 0.3;
  }

  @media @screen-lg {
    &__quote {
      max-width: 600px;
      margin: 0 auto;
    }
  }

}
