.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: rgba(16, 16, 16, 0.95);

  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

  &--opened {
    visibility: visible;
    opacity: 1;

    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }

  &--closed {
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }

  &__btn {
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: auto;
    left: auto;

    display: block;
    width: 22px;
    height: 22px;
    padding: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;

    & span {
      position: absolute;
      top: 50%;
      left: 0;

      display: block;
      width: 100%;
      height: 2px;
      margin-top: -1px;

      background-color: #ffffff;

      &:nth-child(1) {
        top: 12px;

        background-color: #ffffff;
        -webkit-transform: rotate(135deg);
           -moz-transform: rotate(135deg);
             -o-transform: rotate(135deg);
                transform: rotate(135deg);
      }

      &:nth-child(2) {
        top: 12px;

        background-color: #ffffff;
        -webkit-transform: rotate(-135deg);
           -moz-transform: rotate(-135deg);
             -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
      }
    }
  }

  &__input {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    font-family: "Roboto Condensed", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-style: normal;

    background-color: transparent;
    border: none;
    outline-color: #ffffff;
  }


  ::-webkit-input-placeholder {
    text-align: center;
    /* Chrome/Opera/Safari */
    color: #ffffff;
  }
  ::-moz-placeholder {
    text-align: center;
    /* Firefox 19+ */
    color: #ffffff;
  }
  :-ms-input-placeholder {
    text-align: center;
    /* IE 10+ */
    color: #ffffff;
  }
  :-moz-placeholder {
    text-align: center;
    /* Firefox 18- */
    color: #ffffff;
  }

  @media @screen-sm {
    &__input {
      font-size: 42px;
      line-height: 52px;
    }
  }
}
