.slider {
  &__button {
    display: none;
  }

  &__text {
    margin: 0;
    margin-top: 100px;

    font-weight: 700;
    font-size: 53px;
    line-height: 53px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-style: italic;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

    background-color: #294764;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    &--first {
      background-image: url("../img/main-slide-1.jpg");
      background-position: 45% 100%;
      //background-image: -webkit-image-set(url("../img/main-slide-1.webp") 1x);
    }

    &--second {
      background-image: url("../img/main-slide-2.png");
      background-position: 30% 100%;
      //background-image: -webkit-image-set(url("../img/main-slide-2.webp") 1x);
    }

    &--third {
      background-image: url("../img/main-slide-3.jpg");
      background-position: 30% 100%;

      //background-image: -webkit-image-set(url("../img/main-slide-3.webp") 1x);
    }

    &--fourth {
      background-image: url("../img/main-slide-4.jpg");
      //background-image: -webkit-image-set(url("../img/main-slide-4.webp") 1x);
    }
  }

  @media @screen-xs {
    &__text {
      margin-top: 200px;
    }
  }
}
