.subscribe {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #101010;

  &__title {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__desc {
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 22px;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #a5a5a5;
    text-align: center;
  }

  &__form {
    display: flex;
  }

  &__input {
    box-sizing: border-box;
    border: 2px solid #3a3a3a;
    border-right: transparent;
    padding: 10px 25px;
    font-size: 13px;
    line-height: 22px;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #a5a5a5;
    background-color: rgba(165, 165, 165, 0.08);
    transition: all .3s ease-in-out;
    outline-color: #fa5400;

    &:focus {
      border-color: #fa5400;
      transition: all .3s ease-in-out;
    }
  }

  &__btn {
    width: 100%;
    margin-left: -1px;
    box-sizing: border-box;
    background-color: #3a3a3a;
    color: #ffffff;
    transition: all .3s ease-in-out;
    border: none;
    font-size: 14px;
    line-height: 48px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
      background-color: #fa5400;
      transition: all .3s ease-in-out;
    }
  }
}
