@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('RobotoBoldCondensed.eot');
    src: url('RobotoBoldCondensed.eot?#iefix') format('embedded-opentype'),
         url('RobotoBoldCondensed.woff2') format('woff2'),
         url('RobotoBoldCondensed.woff') format('woff'),
         url('RobotoBoldCondensed.ttf') format('truetype'),
         url('RobotoBoldCondensed.svg#RobotoBoldCondensed') format('svg');
    font-weight: 700;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('RobotoRegular.eot');
  src: url('RobotoRegular.eot?#iefix') format('embedded-opentype'),
  url('RobotoRegular.woff2') format('woff2'),
  url('RobotoRegular.woff') format('woff'),
  url('RobotoRegular.ttf') format('truetype'),
  url('RobotoRegular.svg#RobotoRegular') format('svg');
  font-weight: 400;
}

